.navbar{
  .season-status{
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    width: 100%;
    height: 100%;

    .season-bar{
      width: 0.6em;
      height: 2em;
      border-radius: 0.3em;
      &.summer{
        background-color: #FFD700;
      }
      &.winter{
        background-color: #87CEEB;
      }
      &.spring{
        background-color: #00FF7F;
      }
      &.autumn{
        background-color: #FFA500;
        &:before{
          content: "";
        }
      }
      &.current{
        box-shadow: #868686 0 0 4px 1px;
      }
      &:not(.current){
        opacity: 0.5;
      }
    }
  }
}